body{
    background-color: grey;
    margin: 20px 20px 20px 20px;
}
.header {
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    background-image: url(media/back.jfif);
    background-position: center;
    background-size: cover;
    border: 2px solid black;
    padding: 10 10 10 10;
}
.heading {
    text-align-last: center;
}
.text{
    font-size: 20;
   text-align: center;
}
.img{
 padding: 20 20 20 20;
 border: ;
}
.div{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}