.body{
    background-color: #808080;
}
.header{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    max-width: 1000px;
    text-align: center;
    background-image: url(media/back.jfif);
    background-size: cover;
    padding: 50 50 50 50;
}
.boxes{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px 10px 10px 10px;
    border: 10px solid #000000;
    background-color: #A52A2A;
    
}
.img {
    display: block;
    height: auto;
    max-width: 100%;
    align-items: center;
}
.text{
    text-align: center;
    color: #000000;
}